<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.secretk.move">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 下载时不提示通知栏 -->
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.MANAGE_LOCATION_POLICY" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:name=".MoveApplication"
        android:resizeableActivity="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:name">
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />
        <!-- 个推SDK配置开始 -->
        <!-- 配置的第三方参数属性 -->
        <meta-data
            android:name="PUSH_APPID"
            android:value="${GETUI_APP_ID}" />
        <meta-data
            android:name="PUSH_APPKEY"
            android:value="${GETUI_APP_KEY}" />
        <meta-data
            android:name="PUSH_APPSECRET"
            android:value="${GETUI_APP_SECRET}" />

        <!-- 配置SDK核心服务 -->
        <service
            android:name="com.igexin.sdk.PushService"
            android:exported="true"
            android:label="NotificationCenter"
            android:process=":pushservice">
            <intent-filter>
                <action android:name="com.igexin.sdk.action.service.message"/>
            </intent-filter>
        </service>

        <receiver android:name="com.igexin.sdk.PushReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="com.igexin.sdk.action.refreshls" />
                <!-- 以下三项为可选的action声明，可大大提高service存活率和消息到达速度 -->
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.igexin.sdk.PushActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:process=":pushservice"
            android:taskAffinity="com.igexin.sdk.PushActivityTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <activity
            android:name="com.igexin.sdk.GActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:process=":pushservice"
            android:taskAffinity="com.igexin.sdk.PushActivityTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <service
            android:name=".apiService.MovePushService"
            android:exported="true"
            android:label="PushService"
            android:process=":pushservice">
        </service>
        <service android:name=".apiService.MoveIntentService"/>
        <!-- 个推SDK配置结束 -->

        <activity
            android:name=".ui.activity.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 微信分享回调 -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">

        </activity>
        <activity
            android:name="cn.sharesdk.tencent.qq.ReceiveActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent1106330257" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sharesdk.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <service android:name=".utils.DownloadService" />

        <activity
            android:name=".ui.activity.LoginHomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppEditTextStyle" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppEditTextStyle" />
        <activity
            android:name=".ui.activity.MessageDesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppEditTextStyle" />
        <activity
            android:name=".ui.activity.SubmitProjectThreeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ForgetPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppEditTextStyle" />
        <activity
            android:name=".ui.activity.HomeFansActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppEditTextStyle" />
        <activity
            android:name=".ui.activity.MineAssetCoinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MineAssetPinlessActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppEditTextStyle" />
        <activity
            android:name=".ui.activity.VerificationLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppEditTextStyle" />
        <activity
            android:name=".ui.activity.SubmitProjectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppEditTextStyle" />
        <activity
            android:name=".ui.activity.ImageViewVpAcivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppEditTextStyle" />
        <activity
            android:name=".ui.activity.MineMessageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppEditTextStyle" />
        <activity
            android:name=".ui.activity.EvaluationWriteNewSimpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppEditTextStyle" />
        <activity
            android:name=".ui.activity.SubmitProjectTwoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppEditTextStyle" />
        <activity
            android:name=".ui.activity.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppEditTextStyle" />
        <activity
            android:name=".ui.activity.SelectProjectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppEditTextStyle" />
        <activity
            android:name=".ui.activity.MoreCommentsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppEditTextStyle" />
        <activity
            android:name=".ui.activity.PublishSucceedActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppEditTextStyle" />
        <activity
            android:name=".ui.activity.MineCheckDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppEditTextStyle" />
        <activity
            android:name=".ui.activity.ProjectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppEditTextStyle" />
        <activity
            android:name=".ui.activity.WebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppEditTextStyle"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.activity.MineOpinionBackActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppEditTextStyle"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.activity.MineRecommendActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppEditTextStyle" />
        <activity
            android:name=".ui.activity.DetailsArticleCommentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppEditTextStyle" />
        <activity
            android:name=".ui.activity.MineApproveSubmitiCertificateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppEditTextStyle" />
        <activity
            android:name=".ui.activity.MineApproveSubmitiPicActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppEditTextStyle" />
        <activity
            android:name=".ui.activity.EvaluationSimplenessActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppEditTextStyle" />
        <activity
            android:name=".ui.activity.DetailsReviewAllActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppEditTextStyle" />
        <activity
            android:name=".ui.activity.TemporaryIV"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.DetailsArticleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppEditTextStyle" />
        <activity
            android:name=".ui.activity.EvaluationWriteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppEditTextStyle" />
        <activity
            android:name=".ui.activity.DetailsDiscussActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppEditTextStyle" />
        <activity
            android:name=".ui.activity.DetailsUserGradeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppEditTextStyle" />
        <activity
            android:name=".ui.activity.MineAssetDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppEditTextStyle" />
        <activity
            android:name=".ui.activity.EvaluationProfessionalActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppEditTextStyle" />
        <activity
            android:name=".ui.activity.EvaluationProfessionalItemActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppEditTextStyle" />
        <activity
            android:name=".ui.activity.MineSetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppEditTextStyle" />
        <activity
            android:name=".ui.activity.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppEditTextStyle" />
        <activity
            android:name=".ui.activity.MineAttentionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppEditTextStyle" />
        <activity
            android:name=".ui.activity.EvaluationNewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppEditTextStyle" />
        <activity
            android:name=".ui.activity.MineAssetDistributedActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppEditTextStyle" />
        <activity
            android:name=".ui.activity.MineAssetUsableActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppEditTextStyle" />
        <activity
            android:name=".ui.activity.EvaluationCompileListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppEditTextStyle" />
        <activity
            android:name=".ui.activity.MineAssetBindingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppEditTextStyle" />
        <activity
            android:name=".ui.activity.InvitePosterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppEditTextStyle" />
        <activity
            android:name=".ui.activity.ImagesSelectorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppEditTextStyle" />
        <activity
            android:name=".ui.activity.MineAssetFindExtractActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppEditTextStyle" />
        <activity
            android:name=".ui.activity.MineAssetExtractRecordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppEditTextStyle" />
        <activity
            android:name=".ui.activity.MineCollectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppEditTextStyle" />
        <activity android:name=".ui.activity.AddLabelActivity" />
        <activity
            android:name=".ui.activity.ReleaseArticleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppEditTextStyle"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <activity
            android:name=".ui.activity.ReleaseDiscussActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppEditTextStyle" />
        <activity
            android:name=".ui.activity.SelectedPicActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppEditTextStyle" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.secretk.move.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>
</manifest>