<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.secretk.move">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 下载时不提示通知栏 -->
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 上面都是扫一扫权限 -->
    <!-- 定位权限begin -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 定位权限end -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.permission.CAMERA" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 往SDCard写入数据权限 -->
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".MoveApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:name">
        <activity
            android:name=".ui.activity.MainActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.LoginHomeActivity"
            android:theme="@style/AppEditTextStyle" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:theme="@style/AppEditTextStyle" />
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:theme="@style/AppEditTextStyle" />
        <activity
            android:name=".ui.activity.ForgetPasswordActivity"
            android:theme="@style/AppEditTextStyle" />
        <activity
            android:name=".ui.activity.VerificationLoginActivity"
            android:theme="@style/AppEditTextStyle" />
        <activity
            android:name=".ui.activity.HomeActivity"
            android:theme="@style/AppEditTextStyle" />
        <activity
            android:name=".ui.activity.MoreCommentsActivity"
            android:theme="@style/AppEditTextStyle" />
        <activity
            android:name=".ui.activity.ProjectActivity"
            android:theme="@style/AppEditTextStyle" />
        <activity
            android:name=".ui.activity.DetailsArticleCommentActivity"
            android:theme="@style/AppEditTextStyle" />
        <activity
            android:name=".ui.activity.DetailsReviewAllActivity"
            android:theme="@style/AppEditTextStyle" />
        <activity
            android:name=".ui.activity.TemporaryIV"
            android:theme="@style/AppEditTextStyle" />
        <activity
            android:name=".ui.activity.DetailsArticleActivity"
            android:theme="@style/AppEditTextStyle" />
        <activity
            android:name=".ui.activity.DetailsDiscussActivity"
            android:theme="@style/AppEditTextStyle" />
        <activity
            android:name=".ui.activity.DetailsUserGradeActivity"
            android:theme="@style/AppEditTextStyle" />
        <activity
            android:name=".ui.activity.MineSetActivity"
            android:theme="@style/AppEditTextStyle" />
        <activity
            android:name=".ui.activity.SearchActivity"
            android:theme="@style/AppEditTextStyle" />
        <activity android:name=".ui.activity.AddLabelActivity" />
        <activity
            android:name=".ui.activity.ReleaseArticleActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:name=".ui.activity.ReleaseDiscussActivity" />
        <activity android:name=".ui.activity.ReleaseEvaluationActivity"/>
        <activity android:name=".ui.activity.SelectedPicActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.secretk.move.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>